.boton{
  cursor: pointer;
  outline: none;
  text-decoration: none;
  border: none;
  position: relative;
  top: 25%;
  left: 75%;
  padding: 12px 25px;
  color: #fdf8f8;
  font-family: 'Roboto', Arial;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: .5px;
  line-height: 1;
  border-radius: 24px;

  background-image: linear-gradient(45deg, #2378c9 10%, #133079 90%);
  background-position: 90% 0;
  box-shadow: 0 2px 8px -1px #09113f;

  transition: all 0.5s ease;
}

.boton:hover {
  box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
  transform: translateY(-5px);
}

.grid {
    display: grid;
    grid-template-columns: [x0] 1.1fr [x1] 2fr [x2];
    grid-template-rows: [y0] 60px [y1] 60px [y2] 2fr [y3] 1fr [y4];
}

.visual{
  grid-column: x0 / x1;
  grid-row: y0 / y4;
  height: 100vh;
  background-color: #ececec;
}  

.imgpoke{
    grid-column: x0 / x1;
    grid-row: y2 / y3;
    height: 65vh;
    margin-top: 4%;
    filter: drop-shadow(8px 8px 8px rgb(107, 107, 107));
}

.name{
  font-size: 60px;
  margin-left: 8%;
  margin-top: 5%;
}

.id{
  font-size: 60px;
  margin-left: 8%;
  margin-top: 5%;
}

.encabezado{
    grid-column: x1 / x2;
    grid-row: y0 / y1;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    padding-left: 8%;
    padding-right: 8%;
    color: rgb(41, 41, 41);
}

.types{
    grid-column: x0 / x1;
    grid-row: y2 / y3;
    font-family: sans-serif;
    margin-top: 4%;
}


.stats{
    grid-column: x1 / x2;
    grid-row: y2 / y3;
    font-family: sans-serif;
    display: flex;
    flex-flow: column;
    width: 500px;
    margin-left: 16%;
    margin-top: 2%;
}

.pokestats{
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin-left: 8%;
}
   
.loading{
  position: absolute;
  padding-top: 5%;
  left: 40%;
}

.loadingtext{
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: rgb(43, 43, 43);
}

