.card {
    position: relative;
    min-height: 12em;
    width: 300px;
    text-decoration: none;
    border-radius: 0.75em;
    box-shadow: 0 3px 3px #0001;
    overflow: hidden;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2];
    grid-template-rows: [y0] 40px [y1] 190px [y2] 26px [y3] 75px [y4] 30px [y5] 1fr [y6];
    transition: all 0.4s ease;
  }

.card:hover{
  transform: translateY(-8px);
} 

.name{
  grid-column: x0 / x1;
  grid-row: y0/y1;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bolder;
  border-color: black;
  color: white;
  padding-left: 4%;
  padding-top: 4%;
}

.img {
  display:block;
  margin:auto;
  grid-column: x0 / x2;
  grid-row: y1/y2;
  max-width: 320px;
}  

.types{
  grid-column: x0 / x2;
  grid-row: y3/y4;
  display: flex;
  justify-content: center;
}